a{
    text-decoration: underline dotted 1px;
}
a:hover{
    border-bottom: none;
    text-decoration: underline solid 2px;
}

li ul {
    margin-top: 0.4em;
    margin-bottom: 0;
}

li ol {
    margin-top: 0.4em;
    margin-bottom: 0;
}

p{
    word-break: break-word;
    line-break: strict;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.profile-icon-wrapper {
    margin-top: 1em;
    padding: 1em;
}

.profile-icons {
    text-align: center;
}

.profile-icons > a {
    border: 0;
}

.profile-icons > a:hover {
    border: 0;
}

/*============================*/
/*Helper classes*/
/*============================*/


.left-margin{
    margin-left: 0.5em;
}

.no-border {
    border: 0;
    text-decoration: none;    
}

.no-border:hover {
    border: 0;
    text-decoration: none;    
}

.no-list-style {
    list-style: none;
}

.inline-block {
    display: inline-block;
}

/* Chronological post table */
.chrono {
    display: table;
    width: 100%;
}

.chrono a {
    display: table-cell;
    vertical-align: middle;
}

.chrono .go-left {
    float: left;
    text-align: left;
}

.chrono .go-right {
    float: right;
    text-align: right;
}
