a{
    text-decoration: underline dotted #A52A2A;
    color: #A52A2A;
}
a:hover{
    text-decoration: underline dotted #B85C2A
    color: #B85C2A;
}
a:visited{
    text-decoration: underline dotted #6B3E26;
    color: #6B3E26;
}
blockquote {
    border-left-color: #A52A2A;
}
hr {
    color:#A52A2A;
}
.button, button, input[type=submit], input[type=reset], input[type=button], input[type=file]::file-selector-button {
    background-color:#A52A2A; 
    border-color: #6B3E26;
}
.button:hover, button:hover, input[type=submit]:hover, input[type=reset]:hover, input[type=button]:hover, input[type=file]::file-selector-button:hover {
    background-color: #B85C2A;
}

li ul {
    margin-top: 0.4em;
    margin-bottom: 0;
}

li ol {
    margin-top: 0.4em;
    margin-bottom: 0;
}

.profile-icon-wrapper {
    margin-top: 1em;
    padding: 1em;
}

.profile-icons {
    text-align: center;
}

.profile-icons > a {
    border: 0;
}

.profile-icons > a:hover {
    border: 0;
}

/*============================*/
/*Helper classes*/
/*============================*/

.no-border {
    border: 0;
}

.no-border:hover {
    border: 0;
}

.no-list-style {
    list-style: none;
}

.inline-block {
    display: inline-block;
}

/* Chronological post table */
.chrono {
    display: table;
    width: 100%;
}

.chrono a {
    display: table-cell;
    vertical-align: middle;
}

.chrono .go-left {
    float: left;
    text-align: left;
}

.chrono .go-right {
    float: right;
    text-align: right;
}
