<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
<!-- Powered by sakura, a minimal css framework: https://github.com/oxalorg/sakura -->
<head>
    <!-- Config -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Information -->
    <title>{{ page.title }}</title>

    <!-- Assets -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css/normalize.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sakura.css/css/sakura-earthly.css" type="text/css" media="screen">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/custom.css"  media="screen"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sakura.css/css/sakura-dark.css" media="screen and (prefers-color-scheme: dark)" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/custom-dark.css"  media="screen and (prefers-color-scheme: dark)" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/typography.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/svg-icons.css">
    <!-- <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon"> -->

    <!-- SEO tags-->
    {% seo %}

</head>

<body>
    <header>
        <nav>
            <a class="sakura-blossom no-border" href="{{ site.baseurl }}/">{{ site.title }}</a> ::
            <a class="sakura-fade no-border" href="{{ site.baseurl }}/blog/">Blog</a> : 
            <a class="sakura-fade no-border" href="{{ site.baseurl }}/tag/">Tags</a> : 
            <a class="sakura-fade no-border" href="{{ site.baseurl }}/category/">Categories</a> : 
            <a class="sakura-fade no-border" href="{{ site.baseurl }}/about/">About</a>
        </nav>
    </header>
    <main>
        {{ content }}
    </main>
    {% include analytics.html %}
</body>
</html>
