---
layout: default
---

{% assign post = page %}
<article id="post">
    <header>
        <h1>{{ post.title }}</h1>
    </header>
    {{ content }}
    <footer>
        <small><em>
            {% if page.categories.size > 0 %}
            <nav>
                category:
                {% for category in page.categories %}
                    {% assign slugified_category = category | slugify %}
                    <a href="{{ site.url}}/category/{{ slugified_category }}">{{ slugified_category }} </a>
                {% endfor %}
            </nav>
            {% endif %}
            {% if page.tags.size > 0 %}
            <nav>
                tag:
                {% for tag in page.tags %}
                    {% assign slugified_tag = tag | slugify %}
                    <a href="{{ site.url}}/tag/{{ slugified_tag }}">#{{ slugified_tag }} </a>
                {% endfor %}
            </nav>
            {% endif %}
            <address>Posted by {{ post.author }}{% if site.license %}, licensed under {{site.license}} except where otherwise noted.{% endif %}</address>
            <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: site.date_format }}</time>
        </em></small>
    </footer>
    {% include comments.html %}
</article>
<aside>
    <nav class="chrono">
        {% if page.next.url %}
        <a class="go-left sakura-blossom no-border" href="{{page.next.url}}">&laquo; {{page.next.title}} </a>
        {% endif %}
        {% if page.previous.url %}
        <a class="go-right sakura-fade no-border" href="{{page.previous.url}}">{{page.previous.title}} &raquo;</a>
        {% endif %}
    </nav>
    <div style="clear: both;"></div>
</aside>
